

    <div class="container">
    <div id="menu" align="center">
        <br>
        <br>
        <img src="../../assets/12.jpg" width="400px" height="400px">
      </div>
      <p>

        Ionic was founded in 2012, when using web technologies as a means to build native apps was still in its infancy. 
        When we started, we just wanted to create a better way for web developers to use their existing skillsets to build apps for the app stores.
        Today, Ionic is the world's most popular cross-platform mobile development technology stack, powering fast growing startups to some of the biggest companies in the world.
      </p>
      <br>
      <div>
         <h3>What is Ionic Framework?</h3>
        <ul>
          <li>
              Ionic Framework is an open source SDK that enables developers to build performant,
               high-quality mobile apps using familiar web technologies (HTML, CSS, and JavaScript).
               Ionic is focused mainly on the look and feel, or the UI interaction, of an app.
                This means that it’s not a replacement for Cordova or your favorite JavaScript framework. 
               Instead, Ionic fits in well with these projects, in order to simplify one big part of your app development process: the front-end
               Ionic currently requires AngularJS in order to work at its full potential. While you can still use the CSS portion of the framework,
                you'll miss out on powerful UI interactions, gestures, animations, and other things.
                 We will be releasing Cordova/PhoneGap plugins in the future to expand the capabilities of your apps.  </li>

                 <br>
                 <li>Ionic was built by @benjsperry, @adamdbradley, and @maxlynch at Drifty, 
                 an independent bootstrapped software company and makers of such fine products as Codiqa and Jetstrap.</li>
        
        </ul>
        <br>
          <h3>Browser supported:</h3>
         <p>
            Ionic 1
            Ionic V1 is focused on building native/hybrid mobile apps rather than mobile websites.
            As such, our browser support tends to be whatever Web View API is available to native apps on a given platform. For Ionic 1x, that means UIWebView for iOS 7+, and Android 4.1 and up.
             We recommend using Crosswalk to improve performance on older devices.
            Ionic 2
            Ionic 2 is focused on building both native/hybrid apps through Cordova, as well as adding the ability for Progressive Web Apps and Electron .
            The following OSs and browsers are supported:
            
            iOS 8+
            Windows 10 Universal App
            Android 4.4+
            Support can be pushed back to 4.1 if Crosswalk is used with Cordova</p>
          <br>
          <h3>Mobile OS that are supported:</h3>
          <ul>
              <li>Andriod</li>
              <li>iOS</li>
          </ul>
          <h3>Requirements:</h3>
          <ul>
              <li>Node.js</li>
              <li>npm</li>
          </ul>
        
      </div>
    </div>

